<div class="d-flex justify-content-center" style="padding-top:60px">
    <h2 ><strong>Registra tus datos</strong></h2>
</div>
<form>
    <div class="col-md-12" style="margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto">
    <div class="container">
        <div class="row py-2">
          <div class="col-md-4">
            <div class="form-row py-2">
                <div class="col-md-4">
                    <p><strong>NOMBRE:</strong></p>
                </div>
                <div class="col-md-8">
                    <input type="text"  class="form-control" placeholder="Ingrese nombre...">
                </div>
            </div>
            <div class="form-row py-2">
                <div class="col-md-4">
                    <p><strong>APELLIDO:</strong></p>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Ingrese apellido...">
                </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-row py-2">
                <div class="col-md-4">
                    <p><strong>DNI:</strong></p>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Ingrese su DNI...">
                </div>
            </div>
            <div class="form-row py-2">
                <div class="col-md-4">
                    <p><strong>EDAD:</strong></p>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Ingrese su edad...">
                </div>
            </div>
            <div class="form-row py-2">
                <div class="col-md-4">
                    <p><strong>DISTRITO:</strong></p>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Ingrese distrito...">
                </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-row py-2">
                <div class="col-md-4">
                    <p><strong>DIRECCION:</strong></p>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Ingrese dirección...">
                </div>
            </div>
            <div class="form-row py-2">
                <div class="col-md-4">
                    <p><strong>TELEFONO:</strong></p>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Ingrese telefono...">
                </div>
            </div>
            <div class="form-row py-2">
                <div class="col-md-4">
                    <p><strong>E-MAIL:</strong></p>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Ingrese e-mail...">
                </div>
            </div>
          </div>
        </div>
    </div>
            <div class="d-flex flex-row justify-content-center mt-2">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-block"><em class="fas fa-plus-circle"></em> AÑADIR</button>
            </div>
        </div>
    </div>
</form>

<div class="container d-flex flex-row-reverse" >
<section class="row">    
<div class="form-row" > 
    <div class="col-md-9">
         <input type="text" class="form-control" placeholder="Buscar...">
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-primary btn-dark"><em class="fas fa-search"></em></button>
    </div>
 </div>
</section>
</div>

<div class="container mt-4">
    <div class="table-responsive">
        <table class="table table-striped" aria-describedby="mantener cliente">
            <thead class="thead-dark" >
                <tr>
                    <th scope="col">Nro Cuenta</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Distrito</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Actividad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">0000001</th>
                    <td>Maria</td>
                    <td>Villanueva</td>
                    <td>70568323</td>
                    <td>30</td>
                    <td>Santa</td>
                    <td>Jr Ramones</td>
                    <td>953108837</td>
                    <td>Maria01@gmail</td>
                    <td><em class="far fa-check-square fa-2x pl-3"></em></td>
                    <td>
                        <div role="group" class="mb-2 btn-group-md btn-group">
                            <button class="btn-shadow btn-hover-shine btn btn-success btn-md btn-pill pl-3" title="Editar">
                                <em class="fa fa-pencil" aria-hidden="true"></em>
                            </button>
                            <button class="btn-shadow btn-hover-shine btn btn-danger btn-md btn-pill pr-3" title="Eliminar">
                                <em class="fa fa-trash" aria-hidden="true"></em>
                            </button>
                        </div>
                    </td>
                </tr>                    
                
            </tbody>

        </table>
    </div>
</div> 