<div class="sidebar-menu">
  <h1>Minimarket Camarena</h1>
  <ul>
    <li [routerLink]="[{ outlets: { sidebar: ['gestionarpedido'] } }]">Gestionar Pedido</li>
    <li [routerLink]="[{ outlets: { sidebar: ['mantenerproducto'] } }]">Mantener datos del Producto</li>
    <li [routerLink]="[{ outlets: { sidebar: ['mantenerusuario'] } }]">Mantener usuario</li>
    <li [routerLink]="[{ outlets: { sidebar: ['mantenercliente'] } }]">Mantener datos del cliente</li>
    <li [routerLink]="[{ outlets: { sidebar: ['gestionarpromociones'] } }]">Gestionar promociones</li>
    <li [routerLink]="[{ outlets: { sidebar: ['consultarpromociones'] } }]">Consultar Promociones</li>
    <li [routerLink]="[{ outlets: { sidebar: ['recarga'] } }]">Recargar Tarjeta</li>
    <li [routerLink]="[{ outlets: { sidebar: ['consultarstock'] } }]">Consultar Stock</li>
  </ul>
</div>
