<app-sidebar class="sidebar"></app-sidebar>
<div class="dashboard" >
  <nav class="navbar navbar-light bg-light" [ngClass]="{'scroll-container-header': cerrado}">
    <div class="container-fluid">
      <i class="fa fa-bars" aria-hidden="true" (click)="toggle()"></i>
      <h1 style="color: #e83444;"><em class="fas fa-shopping-cart"></em>CAMARENA</h1>
      <form class="d-flex">
        <button type="button" (click)="logout()" class="btn btn-dark">Cerrar Sessión</button>
      </form>
    </div>
  </nav>

  <div class="table-body">
    
    <div [ngClass]="{'scroll-container': cerrado, 'scroll-container-a': !cerrado}">
    <router-outlet name="sidebar"></router-outlet>
  </div>

  </div>
</div>