.dashboard{
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.nav-menu{
    padding: 24.5px 30px;
    background-color: #e83444;
}
.nav-menu i{
    font-size: 35px;
    cursor: pointer;
}

.nav-menu i:hover{
    font-size: 35px;
    cursor: pointer;
    color: rgb(87, 87, 87);
}

.dashboard a{
    cursor: pointer;
    text-align: right;
}

.dashboard .table-body{
    width: 100%;
    height: 100vh;
    background-color: rgb(233, 233, 233);
}

.scroll-container-a {
    display: block;
    width: 100%;
    height: 82%;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .scroll-container {
    display: block;
    width: calc((100% - 350px));
    height: 82%;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .scroll-container-header {
    width: calc((100% - 350px));
  }

 